name: Release

on:
  release:
    types:
      - published

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v1
        with:
          path: node_modules
          key: node_modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: |-
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.CROCT_BOT_TOKEN }}" >> ~/.npmrc
          npm ci
          rm -rf ~/.npmrc

      - name: Build bundles
        run: |-
          npm run rollup
          npm run rollup-min

          # Clear dependencies from package-lock.json
          mv package.json package-full.json
          cat package-full.json | \
            jq 'del(.dependencies) | del(.devDependencies) | del(.testDependencies) | del(.jest) | del(.scripts)' | \
            jq ".version = \"${GITHUB_REF##*/}\"" > package.json
          cat package.json

          echo
          echo "Clearing lock"
          echo

          rm -rf node_modules
          npm install
          rm package-full.json

      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          name: bundle
          path: build

      - name: npm publish
        run: |-
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc
          npm publish --access public
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
