name: Preview validations

on:
  push:
    tags-ignore:
      - '**'
    branches:
      - master
  pull_request:
    types:
      - synchronize
      - opened

jobs:
  validate:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: preview
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 23

      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v5
        with:
          path: preview/node_modules
          key: preview_node_modules-${{ hashFiles('preview/package-lock.json') }}

      - name: Install dependencies
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: npm ci

      - name: Check compilation errors
        run: npm run validate

  lint:
    needs: [ validate ]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: preview
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 23

      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v5
        with:
          path: preview/node_modules
          key: preview_node_modules-${{ hashFiles('preview/package-lock.json') }}

      - name: Install dependencies
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: npm ci

      - name: Check coding standard violations
        run: npm run lint

  test:
    needs: [ lint ]
    timeout-minutes: 60
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: preview
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 23

      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v5
        with:
          path: preview/node_modules
          key: preview_node_modules-${{ hashFiles('preview/package-lock.json') }}

      - name: Install dependencies
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright test
        run: npm run test

      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: playwright-report
          path: preview/playwright-report/
          retention-days: 30
