name: PR preview

on:
  pull_request:
    types:
      - synchronize
      - opened

env:
  BASE_ENDPOINT: https://api.croct.io
  MAX_QUERY_LENGTH: 500

jobs:
  preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 23

      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v5
        with:
          path: node_modules
          key: node_modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: npm ci

      - name: Build package
        run: npm run build

      - name: Prepare release
        run: |-
          cp LICENSE README.md build/
          cd build
          find . -type f -path '*/*\.js.map' -exec sed -i -e "s~../src~src~" {} +          
          sed -i -e "s~<@version@>~0.0.0-dev~" constants.*
          sed -i -e "s~<@baseEndpointUrl@>~${BASE_ENDPOINT}~" constants.*
          sed -i -e "s~parseInt('<@maxQueryLength@>', 10)~${MAX_QUERY_LENGTH}~" constants.*

      - name: Publish preview
        run: |-
          npx pkg-pr-new publish \
            --compact --comment=update \
            ./build
